@import "tailwindcss";

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-image: url("../public/inferno.jpeg");
  background-size: cover;
  font-family: "Rajdhani";
}

@font-face {
  font-family: "Rajdhani";
  src: url("../public/Rajdhani-SemiBold.ttf") format("truetype");
}
